<div class="jumbotron">
  <h2 class="text-center"><img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <h2 class="text-center">Home</h2>
  <div class="text-center" ng-if="isAuthenticated">
    <h2>Welcome, {{ vm.profile.nickname }}, to app1</h2>
    <img ng-src="{{ vm.profile.picture }}">
  </div>
  <div class="text-center">
    <h3><a href="http://localhost:3001">Go to other app</a></h3>
    <button ng-if="isAuthenticated" class="btn btn-danger" ng-click="vm.logoutFromAuth0()"> Logout from your Auth0 application</button>
  </div>
</div>
